@charset "utf-8";
/* CSS Document */

/* reset CSS */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
	
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* beleza */








body
{
	margin-left:auto;
	margin-right:auto;
	margin-top:auto;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	background-color: #d4d4d4;
	height:auto;
}
	


#centro{
		
	width: 600px;
	height:auto;
	margin-left:auto;
	margin-right:auto;
	position:static;
}

#footer {
background-color: #666;
bottom: 0;
border-top: 2px groove #999;
color: #000;
padding-bottom: 10px;
padding-top: 10px;
position: absolute;
text-align: center;
width: 100%;
-moz-box-shadow: 0px -1px 3px #333;
}


#head{
	width:600px;
	height: 100px;
	padding-top: 20px;
	margin-left: 30px;
	
}
.headEsq{
	width: 300px;
	float:left;
}
.headDir{
	width: 300px;
	float:right;
}
	
#head h1 {
	font-family:Helvetica,Arial,sans-serif;
	font-weight: bold;
	width: 400px;
	
	text-transform: uppercase;
	color: #FFF;
	text-shadow: #000 2px 2px 1px;
	line-height:1.5em; 
	font-size: 28px;
	
}

.eventex{
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:50px;
	color:#090;
}

#meio{
	width:600px;
	
	height:300px;
	margin:auto;
	padding-top:20px;
	padding-bottom: 20px;
	margin-top:10px;
	background-color:#FFF;
	
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
}
.left{
	float: left;
	width:300px;
}
.right{
	float: right;
	width:300px;
}

#meio p{
	font-family: Verdana;
	font-size: 16px;
	width: 300px;	
	line-height:1.3em;
	padding-top:10px;
	padding-bottom:10px;
	margin-left: 20px;
	
	}