<html>
<head>

<title>Eventex! </title>

 <meta charset="utf-8" /> 

<link href=".{{ STATIC_URL }}css/layout.css" rel="stylesheet" type="text/css" media="screen">
</head>

<body>
<div id="wrap">

<div class="header1">
<div class="header2"> <!-- pagina feia -->
<div class="head_espaco">
<div class="head_logo">
</div> <!-- fecha logo -->



</div> <!-- fecha espaço -->
</div> <!-- fecha heaer2 -->
</div> <!-- fecha header1 -->
<div class="cont">
<div class="divcont">
<h1>Bem-vindo ao EventeX!</h1>
<p>
O evento mais sensacional depois do Dev In Rio!

Voce não pode perder essa oportunidade!

Abertura das inscriçoes em 15/05/2011.

Para duvidas e mais informaçoes entre em contato com eventex@eventex.com.br
</p>
</div>
</div> <!-- fecha div cont -->
<div class="footer">
<p> Eventex todos os direitos reservados. @eventex2011 </p>
</div> <!-- foottttttttêr -->
</div> <!-- WRAP -->
</body>

</html>
